@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/responsive" as *;
@use "../../styles/partials/varaibles" as *;
* {
  margin: 0;
  font-family: $primary-font;
  color: $BrainFlix-Black;
}
.hidden {
  &--tablet {
    display: none;
  }
}

.video-page {
  &__content {
    @include desktop {
      display: flex;
    }
  }
  &__main-content {
    padding: $spacing-between-components-mobile;
    @include desktop {
      width: 70%;
      border-right: solid $BrainFlix-Mercury 2px;
      padding-right: 0;
    }
  }
  &__side-content {
    @include desktop {
      width: 30%;
      padding-top: $spacing-between-components-tablet;
    }
  }
}