// Import partials for colors, typography, responsiveness, and variables
@use "../../../styles/partials/global" as *;
@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/responsive" as *;
@use "../../../styles/partials/varaibles" as *;

.video-card {
  display: flex;
  gap: $spacing-between-components-mobile;
  padding: $spacing-between-components-mobile;

  &__image {
    min-width: $video-min-width;
    max-width: 20%;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    border-radius: $video-card-border-radius;
    &:hover {
      cursor: pointer;
    }
  }

  &__info-container {
    max-width: $video-title-max-width;
  }

  &__title {
    word-wrap: normal;
  }
}
