/* Colors */
$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095ff;
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065ad;

$BrainFlix-White: #fff;
$BrainFlix-Silver: #afafaf;
$BrainFlix-Mercury: #e1e1e1;
$BrainFlix-Alabaster: #fafafa;

/* Spacing layout */
$spacing-between-components-mobile: 1rem;
$spacing-between-components-tablet: 1.5rem;
$default-border-radius: 0.5rem;
$search-box-min-width: 15rem;

$max-height: 1.5625rem;
$max-width: 7.5rem;

/* Video Card Styles */
$video-card-border-radius: 0.25rem;
$video-title-max-width: 12.5rem;
$video-min-width: 9.375rem;

/* Avatar Styles */
$avatar-border-radius: 50%;
$max-diameter-mobile: 2.25rem;
$max-diameter-tablet: 2.5rem;

/* Button Styles */
$button-height: 2.5rem;
$button-border-radius: 0.25rem;
$button-padding-small: 0.75rem;

/* Divider Styles */
$divider-stroke-width: 1px;

/* Input Box Area */
$input-radius: 0.25rem;
$input-border: 0.0625rem;
$input-padding-mobile: 0.75rem;
$input-padding-tablet: 1rem;
$input-height: 2.5rem;
