@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/global" as *;
@use "../../../styles/partials/responsive" as *;
@use "../../../styles/partials/varaibles" as *;

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $BrainFlix-White;
  padding: $spacing-between-components-mobile;
  gap: $spacing-between-components-mobile;

  // Adjust layout for Tablet screens
  @include tablet {
    flex-direction: row;
    align-items: center;
    padding-left: $spacing-between-components-tablet;
    padding-right: $spacing-between-components-tablet;
    gap: $spacing-between-components-tablet;
  }

  // Avatar container
  .avatar-component__container {
    display: none;

    // Display avatar on tablet screens
    @include tablet {
      display: block;
    }
  }

  // Search section
  &__search {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: $spacing-between-components-mobile;

    // Adjust alignment for tablet screens
    @include tablet {
      justify-content: flex-end;
    }

    // Avatar container within search
    .avatar-component__container {
      display: block;

      // Hide avatar on Tablet screens
      @include tablet {
        display: none;
      }
    }
  }

  // Search box
  &__search-box {
    width: 100%;

    // Set minimum width on tablet screens
    @include tablet {
      width: $search-box-min-width;
    }
  }
}
