@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/responsive" as *;
@use "../../styles/partials/variables" as *;

.add-comment {
  display: flex;
  box-sizing: content-box;
  width: 100%;

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    width: 100%;
    gap: $spacing-between-components-mobile;
    padding: $spacing-between-components-mobile;
    padding-right: 0;

    @include tablet {
      flex-direction: row;
      padding-left: 0;
      padding-right: $spacing-between-components-mobile;
      gap: $spacing-between-components-mobile;
      align-items: flex-end;
      justify-content: center;
    }

    &--icon-container {
      @extend .add-comment__section;
      padding-top: calc($spacing-between-components-mobile * 2.25);
      width: auto;
    }
  }

  &__input {
    display: none;

    @include tablet {
      display: block;
      width: 100%;
    }
  }

  &__input-area {
    width: calc(100% - $spacing-between-components-mobile * 2);

    @include tablet {
      display: none;
    }
  }
}
