@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/global" as *;
@use "../../../styles/partials/responsive" as *;
@use "../../../styles/partials/varaibles" as *;

.button-component {
  background-color: $BrainFlix-Blue;
  width: 100%;
  height: $button-height;
  border: none;
  border-radius: $button-border-radius;
  display: flex;
  align-items: center;
  position: relative;

  @include tablet {
    min-width: $button-width;
    padding: 0 $button-padding-small;

    width: $button-width;
  }

  &__icon {
    justify-self: start;
    height: 1.25rem;
  }

  &__text {
    @include labelFont;
    color: $BrainFlix-White;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    position: absolute;
    top: 18%;
    left: 0%;

    @include tablet {
      width: auto;
      position: relative;
      justify-self: center;
      text-align: left;
      margin-left: $button-padding-small;
      top: 10%;
      left: 0%;
    }
  }

  &:hover {
    background-color: $BrainFlix-DarkBlue;
    cursor: pointer;
  }
}
