// Import partials for colors, typography, responsiveness, and variables
@use "../../../styles/partials/global" as *;
@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/responsive" as *;
@use "../../../styles/partials/varaibles" as *;

.input-area {
  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  outline: none;

  &__label {
    @include labelFont;
    color: $BrainFlix-Silver; 
  }

  &__content {
    font-family: $primary-font;
    color: $BrainFlix-Black; 
    background-color: $BrainFlix-Alabaster; 
    padding: $input-padding-mobile;
    border: $BrainFlix-Mercury solid $input-border; 
    border-radius: $input-radius;
    outline: none;
    width: 100%;

    @include inputFont;

    &::placeholder {
      font-family: $primary-font;
      color: $BrainFlix-Black;
    }

    &:focus-within {
      border: $input-border $BrainFlix-Blue solid; 
    }
  }
}
