// Import partials for colors, typography, responsiveness, and variables
@use "../../../styles/partials/global" as *;
@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/responsive" as *;
@use "../../../styles/partials/varaibles" as *;

.input-area {
  // Changed from $input-area to .input-area
  box-sizing: border-box;

  &__label {
    @include labelFont;
    color: $BrainFlix-Silver; // Use the correct variable name
  }

  &__content {
    font-family: $primary-font;
    color: $BrainFlix-Black; // Use the correct variable name
    background-color: $BrainFlix-Alabaster; // Use the correct variable name
    padding: $input-padding-mobile;
    border: $BrainFlix-Mercury solid $input-border; // Use the correct variable name
    border-radius: $input-radius;
    outline: none;
    width: 100%;

    // Apply input font styles
    @include inputFont;

    &::placeholder {
      font-family: $primary-font;
      color: $BrainFlix-Black; // Use the correct variable name
    }

    &:focus-within {
      border: $input-border $BrainFlix-Blue solid; // Use the correct variable name
    }
  }
}
