// Import partials for colors, typography, and responsiveness
@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/global" as *;
@use "../../../styles/partials/responsive" as *;
@use "../../../styles/partials/varaibles" as *;

$input {
  box-sizing: border-box;
  background-color: $BrainFlix-Alabaster;
  border: $BrainFlix-Mercury solid $input-border;
  border-radius: $input-radius;
  min-height: $input-height;
  width: 100%;
  display: flex;
  align-items: center;

  &__icon {
    padding-left: $input-padding-mobile;
    padding-right: $input-padding-mobile;
    @include tablet {
      padding-left: $input-padding-tablet;
      padding-right: $input-padding-tablet;
    }
  }

  &__text-field {
    color: $BrainFlix-Black;
    background-color: transparent;
    font-family: $font-primary;
    height: 100%;
    width: 100%;
    padding: $input-padding-mobile;
    border: none;
    outline: none;

    // Apply input font styles
    @include inputFontStyles;

    &::placeholder {
      font-family: $font-primary;
      color: $BrainFlix-Black;
    }
  }

  &:focus-within {
    border: $input-border $BrainFlix-Blue solid;
  }

  &__label {
    @include labelFontStyles;
    color: $BrainFlix-Silver;
  }
}
